.index_page {
    height: 100vh;
    padding-top: 1em;

    // @media screen and (min-width: $tablette-media-rupture) {
    //     padding-top: 7em;
    // }

    h2 {
        @media screen and (min-width: $tablette-media-rupture) {
            text-align: center;
        }
    }

    .hauteur1 {
        height: 30%;
    }

    .text1 {
        width: 90%;

        @media screen and (min-width: $tablette-media-rupture) {
            width: 42%;
        }
    }

    .hauteur2 {
        height: 40%;
    }

    // .text2 {
    //     padding-top: 2.5em;

    //     @media screen and (min-width: $tablette-media-rupture) {
    //         padding-top: 5em;
    //     }
    // }
}