{% extends "app0_base/base.html" %}
{% load static %}
{% load i18n %}

{% block imagefond %}
<div class="img-fond-index position-absolute">
    <img src="{% static 'app0_base/img/index_back.jpg' %}" alt="{% trans 'Background image' %}" class="image-fond-index">
</div>
{% endblock imagefond %}


{% block content %}

<!-- Page index -->
<div class="index_page">
    <div class="hauteur1 d-md-flex justify-content-around px-2 px-md-0">
        <div class="text1 d-flex align-items-center">
            <h2 class="pe-md-5 pb-4 pb-md-0">{% trans "Developer of applications containing Artificial Intelligence" %}</h2>
        </div>
        <div class="d-flex flex-column justify-content-center align-items-end align-items-md-center">
            <h2 class="text-end">{% trans "A need for A.I." %} ?</h2>
            <h2 class="text-end">{% trans "An app project" %} ?</h2>
            <a href="{% url 'contact' %}" class="btn btn-perso text-center white">
                <h4 class="mb-0">{% trans "Let's talk about it" %} !</h4>
            </a>
        </div>
    </div>
    
    <div class="hauteur2 w-75 d-flex justify-content-center align-items-center mx-auto text-center">
        <h1 class="text2 pink">{% trans "Simplify your life with our Artificial Intelligence and/or a tailor-made application" %} !</h1>
    </div>

</div>

{% include 'app0_base/footer.html' %}

{% endblock content %}
