{% extends "app0_base/base.html" %}
{% load static %}
{% load i18n %}

{% block imagefond %}
<img src="{% static 'app0_base/img/team_back.jpg' %}" alt="{% trans 'Background image' %}" class="image-fond position-absolute">
{% endblock imagefond %}


{% block content %}

<!-- Page team -->
<div>
    <h1 class="intro_team_page text-end py-md-5 my-5 pe-2 pe-md-5 purple text-uppercase">{% trans "Your project in good hands" %}</h1>
    <div class="p-2 p-md-5 pink">
        <h1 class="text-center pt-md-5 mt-5">{% trans "A responsive agency" %}.</h1>
        <h1 class="text-center mb-5">{% trans "Complementary skills and interpersonal skills <br> are the great secrets of our agency" %}</h1>
    </div>
</div>

<!-- Présentations -->
<div class="decalage_page bg-grey">
    <h3 class="text-center py-4 px-3 px-md-5">{% trans "Associated in the creation of the agency, they provide clients with all their experience" %} !</h3>
    <!-- Présentations -->
    <div class="d-flex flex-column justify-content-center flex-md-row p-2 p-sm-4">
        <!-- Présentation Xavier -->
        <div class="presentation d-flex flex-column flex-sm-row justify-content-center flex-md-column align-items-center pt-5">
            <div class="purplesquare bg-purple white position-relative col-6 col-md-12">
                <img src="{% static 'app0_base/img/Xavier.jpg' %}" alt="" class="position-absolute ps-3">
                <div class="nomposte position-absolute w-100 mx-auto">
                    <h4 class="presentation_nom text-center mb-1">Xavier ROBELLET</h4>
                    <h6 class="text-center">{% trans "A.I. researcher" %}</h6>
                </div>
            </div>
            <div class="px-3 px-lg-5 pt-3 pb-4 col-sm-6 col-md-12">
                <p>{% trans "Doctor and researcher in A.I., he remains on constant watch to bring to his research the best" %} !</p>
                <p>{% trans "When he is not looking, he plays tennis at a high level. Finally as high as his ever-increasing age allows" %}.</p>
            </div>
        </div>
        <!-- Présentation Marc -->
        <div class="presentation d-flex flex-column flex-sm-row justify-content-center flex-md-column align-items-center pt-5 my-3 my-sm-5 my-md-0">
            <div class="purplesquare bg-purple white position-relative col-6 col-md-12">
                <img src="{% static 'app0_base/img/Marc.jpg' %}" alt="" class="position-absolute ps-3">
                <div class="nomposte position-absolute w-100 mx-auto">
                    <h4 class="presentation_nom text-center mb-1">Marc LAURENT</h4>
                    <h6 class="text-center">{% trans "Developer" %}</h6>
                </div>
            </div>
            <div class="px-3 px-lg-5 pt-3 pb-4 col-sm-6 col-md-12">
                <p>{% trans "Complete developer, when he is not hands in the grease to repair his car, motorcycle, that of his wife or the neighbor, he likes to secure the applications and to resume his code to improve it" %}</p>
            </div>
        </div>
        <!-- Présentation Nicolas -->
        <div class="presentation d-flex flex-column flex-sm-row justify-content-center flex-md-column align-items-center pt-5">
            <div class="purplesquare bg-purple white position-relative col-6 col-md-12">
                <img src="{% static 'app0_base/img/Nicolas.jpg' %}" alt="" class="position-absolute ps-3">
                <div class="nomposte position-absolute w-100 mx-auto">
                    <h4 class="text-center mb-1">Nicolas LAMBERT</h4>
                    <h6 class="text-center">{% trans "Developer" %}</h6>
                </div>
            </div>
            <div class="px-3 px-lg-5 pt-3 pb-4 col-sm-6 col-md-12">
                <p>{% trans "Developer, he likes to rack his brains to make modern and easy-to-use applications" %}.</p>
                <p>{% trans "Drummer, Hockey player, you can also meet him on his mountain bike or at the cinema" %}.</p>
            </div>
        </div>
    </div>

    {% include 'app0_base/footer.html' %}

</div>

{% endblock content %}